.page1-items {
  display: none;
  margin: 0;
  padding: 0;
  border: 1px solid #dee1e4;
  border-radius: 5px;
  background-color: #fafafa;
}

.page1-items-item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
}
.page1-items-item:last-child {
  margin-right: 0;
}

.page1-items-item_characters {
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.page1-list-item {
  width: 718px;
  padding: 0;
  margin: 0 auto;
}

.page1-list {
  display: block;
  border-bottom: 1px solid #dee1e4;
  padding-top: 10px;
  padding-bottom: 10px;
}
.page1-list:last-child {
  border: 0;
}
.page1-list:hover {
  box-shadow: 0px 0px 4px 3px #dee1e4;
}

.page1-items-item-button {
  border-radius: 5px;
  background-image: -moz-linear-gradient(56deg, #ff6600 0%, #ff6a1b 45%, #ff6e35 99%);
  background-image: -webkit-linear-gradient(56deg, #ff6600 0%, #ff6a1b 45%, #ff6e35 99%);
  background-image: -ms-linear-gradient(56deg, #ff6600 0%, #ff6a1b 45%, #ff6e35 99%);
  width: 103px;
  height: 33px;
  color: #FFFFFF;
  outline-style: none;
  border: none;
  font-family: 'OpenSans-Semi';
  font-size: 14px;
}
.page1-items-item-button:hover {
  box-shadow: 0px 0px 5px 1px #cc5200 inset;
}
.page1-items-item-button:active {
  box-shadow: 0px 0px 5px 2px #cc5200 inset;
}

.page1-items-item_status {
  position: relative;
  font-family: 'OpenSans-Semi';
  font-size: 12px;
  color: #7f7f7f;
}
.page1-items-item_status:before {
  position: absolute;
  content: '';
  display: block;
  float: left;
  border-radius: 50%;
  background-color: #60ac49;
  width: 7px;
  height: 7px;
  top: 5px;
  left: -10px;
}

.page1-items-item_characters {
  margin-right: 10px;
  font-family: 'OpenSans-Semi';
  font-size: 14px;
}

.page1-items-item_numart {
  font-family: 'OpenSans-Semi';
  font-size: 14px;
  margin-right: 20px;
}

.page1-items-item_articul {
  margin-right: 0px;
  font-family: 'OpenSans-Semi';
  font-size: 14px;
  color: #7f7f7f;
}

.page1-items-item_price {
  font-family: 'OpenSans-Semi';
  font-size: 18px;
}
