.device-items {
  margin: 0;
  padding: 0;
  display: none;
}

.device-items-item {
  border-style: solid;
  border-width: 1px;
  border-color: #dee1e4;
  background-color: rgba(255, 255, 255, 0.6);
  width: 237px;
  display: inline-block;
  border-radius: 5px;
  padding-top: 19px;
  padding-bottom: 19px;
  margin-bottom: 20px;
  margin-right: 11px;
  box-sizing: border-box;
}
.device-items-item:nth-child(3n) {
  margin-right: 0;
}
.device-items-item:hover {
  box-shadow: 0px 0px 4px 1px #dee1e4;
}

.device {
  width: 210px;
  margin: 0 auto;
}

.device-image {
  width: 137px;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 18px;
}

.device-image-item {
  position: relative;
  display: inline-block;
  border-width: 1px;
  border-color: #dee1e4;
  border-style: solid;
  border-radius: 2px;
  background-color: white;
  overflow: hidden;
  width: 32px;
  height: 32px;
  margin-right: 16px;
  box-sizing: border-box;
  cursor: pointer;
}
.device-image-item:first-child {
  margin-left: 0;
  cursor: default;
}
.device-image-item:first-child:hover {
  border-color: #dee1e4;
}
.device-image-item:last-child {
  margin-right: 0;
}
.device-image-item:hover {
  border-color: #ff6600;
}

.device-image-item_main {
  width: 100%;
  height: 134px;
  margin-bottom: 15px;
  overflow: hidden;
  position: relative;
}

.device-characters {
  padding: 0;
  margin-bottom: 8px;
}

.device-characters-item {
  font-family: 'OpenSans';
  font-size: 14px;
  list-style: none;
}
.device-characters-item:first-child {
  text-align: center;
  margin-bottom: 6px;
  height: 36px;
}
.device-characters-item:nth-child(even) {
  background-color: #e6e6e6;
}

.device-characters-item_name {
  font-family: 'OpenSans-Semi';
  font-size: 14px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: -o-ellipsis-lastline;
}

.device-characters-item-text_left {
  float: left;
}

.device-characters-item-text_right {
  float: right;
}

.device-rating-wrapper {
  width: 137px;
  margin: 0 auto;
  margin-bottom: 14px;
}

.device-rating {
  padding: 0;
  float: left;
}

.rating-star {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("../img/star.png") no-repeat center center;
}
.rating-star_off {
  width: 16px;
  height: 16px;
  background: url("../img/star-off.png") no-repeat center 0.3px;
}

.device-rating_number {
  float: right;
  border-radius: 7px;
  background-color: #b5beca;
  width: 28px;
  height: 15px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 2px;
  font-size: 12px;
}

.device-price {
  text-align: center;
  margin-bottom: 9px;
  font-family: 'OpenSans-Semi';
  font-size: 16px;
}

.device-cart-status {
  float: left;
  color: #7f7f7f;
  padding-left: 14px;
  margin-top: 6px;
  font-family: 'OpenSans-Semi';
  font-size: 12px;
}
.device-cart-status:before {
  display: block;
  float: left;
  border-radius: 50%;
  background-color: #60ac49;
  width: 7px;
  height: 7px;
  margin-top: 5px;
  margin-left: -12px;
}

.device-cart-push {
  float: right;
  width: 103px;
  height: 33px;
  outline-style: none;
  border: 0;
  border-radius: 5px;
  background-image: -moz-linear-gradient(56deg, #ff6600 0%, #ff6a1b 45%, #ff6e35 99%);
  background-image: -webkit-linear-gradient(56deg, #ff6600 0%, #ff6a1b 45%, #ff6e35 99%);
  background-image: -ms-linear-gradient(56deg, #ff6600 0%, #ff6a1b 45%, #ff6e35 99%);
  color: white;
  font-family: 'OpenSans-Semi';
  font-size: 14px;
}
.device-cart-push:hover {
  box-shadow: 0px 0px 5px 1px #cc5200 inset;
}
.device-cart-push:active {
  box-shadow: 0px 0px 5px 2px #cc5200 inset;
}

.img-main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  max-height: 95%;
  max-width: 95%;
}

.img-sub {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  max-height: 95%;
  max-width: 95%;
}
