.navigation-head {
  width: 1100px;
  margin: 0 auto;
  padding-top: 31px;
  padding-bottom: 29px;
}

.navigation-head-search-input {
  border-style: solid;
  border-width: 1px;
  border-color: #dee1e4;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.6);
  width: 290px;
  height: 36px;
  margin: 0;
  text-indent: 10px;
}

.navigation-head-search-button {
  background-image: -moz-linear-gradient(56deg, #ff6600 0%, #ff6a1b 45%, #ff6e35 99%);
  background-image: -webkit-linear-gradient(56deg, #ff6600 0%, #ff6a1b 45%, #ff6e35 99%);
  background-image: -ms-linear-gradient(56deg, #ff6600 0%, #ff6a1b 45%, #ff6e35 99%);
  border-radius: 0 3px 3px 0;
  width: 79px;
  height: 36px;
  border: 0;
  margin-left: -8px;
  color: #FFFFFF;
  outline-style: none;
  font-family: "OpenSans-Semi";
  font-size: 16px;
}
.navigation-head-search-button:hover {
  box-shadow: 0px 0px 5px 1px #cc5200 inset;
}
.navigation-head-search-button:active {
  box-shadow: 0px 0px 5px 2px #cc5200 inset;
}

.navigation-head-logo {
  float: left;
  margin-right: 57px;
  height: 37px;
  width: 238px;
  overflow: hidden;
}

.navigation-head-search {
  float: left;
}

.navigation-head-menu {
  float: right;
  margin-top: 10px;
}

.navigation-head-menu-items {
  margin: 0px;
  padding: 0px;
}

.navigation-head-menu-item {
  display: inline-block;
  margin-left: 35px;
}
.navigation-head-menu-item:first-child {
  margin-left: 0;
}
.navigation-head-menu-item a {
  display: block;
  color: #333333;
}
.navigation-head-menu-item a:hover {
  color: #ff6e35;
}
