.information {
  width: 1100px;
  margin: 0 auto;
  margin-bottom: 31px;
}

.information-main {
  margin-bottom: 33px;
  font-family: 'OpenSans-Semi';
  font-size: 20px;
}

.information-column {
  font-family: 'OpenSans';
  font-size: 14px;
}
.information-column p {
  text-align: justify;
  font-size: 14px;
  line-height: 20px;
  color: #000;
  margin-bottom: 20px;
}
.information-column .column.first {
  float: left !important;
}
.information-column .column.first p {
  margin-right: 25px !important;
}
.information-column .column.last {
  float: right !important;
}
.information-column .column.last p {
  margin-left: 25px !important;
}
