body {
  background: #f4f4f4;
  background-size: cover;
  min-width: 100%;
  height: 100%;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.header {
  background-color: #FFFFFF;
  min-width: 100%;
  height: 77px;
  padding-top: 25px;
  box-sizing: border-box;
}
.header .header_wrapper {
  position: relative;
  width: 1100px;
  margin: 0 auto;
}
.header .header-wrapperadress {
  float: right;
}
.header .header-wrapperico {
  float: left;
}

.social {
  padding: 0;
  margin: 0;
}

.social-items {
  display: inline-block;
  margin-right: 15px;
  width: 26px;
  height: 26px;
  overflow: hidden;
}

.social-items_vk:hover .social-img_vk {
  display: none;
}

.social-items_tw:hover .social-img_tw {
  display: none;
}

.social-items_fb:hover .social-img_fb {
  display: none;
}

.adress {
  padding: 0;
  margin: 0;
}

.adress-map {
  background: url("../img/map-pin.png") no-repeat;
  padding-left: 20px;
  margin-right: 86px;
}

.adress-telephone {
  background: url("../img/telephone.png") no-repeat;
  padding-left: 20px;
}

.adress-common {
  display: inline-block;
}

.adress_a {
  text-decoration: none;
  color: #000000;
}
.adress_a:hover {
  color: #ff6600;
}

.navigation-head {
  width: 1100px;
  margin: 0 auto;
  padding-top: 31px;
  padding-bottom: 29px;
}

.navigation-head-search-input {
  border-style: solid;
  border-width: 1px;
  border-color: #dee1e4;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.6);
  width: 290px;
  height: 36px;
  margin: 0;
  text-indent: 10px;
}

.navigation-head-search-button {
  background-image: -moz-linear-gradient(56deg, #ff6600 0%, #ff6a1b 45%, #ff6e35 99%);
  background-image: -webkit-linear-gradient(56deg, #ff6600 0%, #ff6a1b 45%, #ff6e35 99%);
  background-image: -ms-linear-gradient(56deg, #ff6600 0%, #ff6a1b 45%, #ff6e35 99%);
  border-radius: 0 3px 3px 0;
  width: 79px;
  height: 36px;
  border: 0;
  margin-left: -8px;
  color: #FFFFFF;
  outline-style: none;
}
.navigation-head-search-button:hover {
  box-shadow: 0px 0px 5px 1px #cc5200 inset;
}
.navigation-head-search-button:active {
  box-shadow: 0px 0px 5px 2px #cc5200 inset;
}

.navigation-head-logo {
  float: left;
  margin-right: 57px;
  height: 37px;
  width: 238px;
  overflow: hidden;
}

.navigation-head-search {
  float: left;
}

.navigation-head-menu {
  float: right;
  margin-top: 10px;
}

.navigation-head-menu-items {
  margin: 0px;
  padding: 0px;
}

.navigation-head-menu-item {
  display: inline-block;
  margin-left: 35px;
}
.navigation-head-menu-item:first-child {
  margin-left: 0;
}
.navigation-head-menu-item a {
  display: block;
  color: #333333;
}
.navigation-head-menu-item a:hover {
  color: #ff6e35;
}

.wrapper-menu {
  width: 100%;
  background-color: #FFFFFF;
  margin-bottom: 35px;
}

.navigation-menu {
  width: 1100px;
  margin: 0 auto;
}

.navigation-menu-wrapper {
  margin: 0 auto;
  width: auto;
}

.navigation-menu-items {
  width: auto;
  margin: 0;
  padding: 0;
}

.navigation-menu-items-link {
  text-decoration: none;
  color: #333333;
}
.navigation-menu-items-link:hover {
  color: #333333;
}

.navigation-menu-items-item {
  display: inline-block;
  padding-top: 19px;
  padding-bottom: 16px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: -4px;
}
.navigation-menu-items-item:hover {
  background-color: #e4e2e2;
}

.navigation-menu-items-item_active {
  background-color: #ff6e35;
  color: #FFFFFF;
}
.navigation-menu-items-item_active:hover {
  background-color: #ff6e35;
  color: #FFFFFF;
}

.main-wrapper {
  min-height: 100%;
  min-width: 1100px;
  height: auto;
  overflow: hidden;
}
.main-wrapper:after {
  content: " ";
  height: 220px;
  display: block;
}

.central-wrapper {
  width: 1100px;
  margin: 0 auto;
  margin-bottom: 33px;
}

.wrapper-menu-map {
  margin-bottom: 35px;
}

.wrapper-menu-category {
  margin-bottom: 35px;
}

.wrapper-menu-map_catalog {
  color: #ff6e35;
  text-decoration: underline;
}

.sidebar {
  float: left;
  width: 333px;
}

.content {
  width: 743px;
  float: right;
}

.sidebar-cat-items {
  margin: 0;
  padding: 0;
  border: 2px solid #dee1e4;
  border-radius: 4px;
}

.sidebar-cat-items-item {
  display: block;
  border-bottom: 2px solid #dee1e4;
  height: auto;
  background-color: #fbfbfb;
}
.sidebar-cat-items-item:last-child {
  border-bottom: 0;
}
.sidebar-cat-items-item:hover {
  background-color: #d9e5ea;
}
.sidebar-cat-items-item a.sidebar-cat-items-item-link {
  display: block;
  width: 100%;
  padding-top: 18px;
  padding-bottom: 19px;
  text-indent: 30px;
  text-decoration: none;
  color: #909090;
}
.sidebar-cat-items-item a.sidebar-cat-items-item-link:hover {
  color: #5d656c;
}

.sidebar-cat {
  margin-bottom: 39px;
}

.accardion {
  margin: 0;
  padding: 0;
}

.accardion-item {
  display: block;
  border: 2px solid #dee1e4;
  border-top: 0;
  height: auto;
  background-color: #fbfbfb;
}
.accardion-item:first-child {
  border-top: 2px solid #dee1e4;
  border-radius: 4px 4px 0 0;
}
.accardion-item:last-child {
  border-top: 0;
  border-radius: 0 0 4px 4px;
  box-sizing: content-box;
}

.accardion-item-trigger {
  display: block;
  padding-top: 18px;
  padding-bottom: 19px;
  text-indent: 30px;
  text-decoration: none;
  color: #000;
  background: url("../img/corner.png") no-repeat;
  background-position: 300 19;
}

.accardion-item-subitems-subitem {
  list-style: none;
  margin-bottom: 17px;
}

.accardion-item-subitems {
  padding-left: 30px;
}

.reset_filter {
  display: block;
  padding-left: 30px;
  margin-bottom: 19px;
  color: #5db2fc;
}

.accardion-item-to, .accardion-item-from {
  border-style: solid;
  border-width: 1px;
  border-color: #ebedef;
  border-radius: 3px;
  background-color: white;
  box-shadow: inset 0px 1px 1px 0px rgba(148, 148, 148, 0.43);
  width: 79px;
  height: 26px;
  text-indent: 5px;
}

.accardion-item-lable_choose {
  margin-left: 30px;
}

.accardion-item-colorboxes {
  display: inline-block;
  margin-right: 22px;
  margin-bottom: 22px;
}

.accardion-items-colorboxes {
  padding-left: 30px;
}

.colorbox {
  border-width: 1px;
  border-color: #dee1e4;
  border-style: solid;
  background-color: white;
  width: 35px;
  height: 35px;
}

.colorbox_1 {
  background-color: #FFFFFF;
}

.colorbox_2 {
  background-color: #cccccc;
}

.colorbox_3 {
  background-color: #000;
}

.colorbox_4 {
  background-color: #0a3153;
}

.colorbox_5 {
  background-color: #ff1800;
}

.colorbox_6 {
  background-color: #fff343;
}

.colorbox_7 {
  background-color: #fb914a;
}

.colorbox_8 {
  background-color: #92c37c;
}

.colorbox_9 {
  background-color: #40a6ff;
}

.colorbox_10 {
  background-color: #9870ad;
}

.colorbox_11 {
  background-color: #dc78ad;
}

.colorbox_12 {
  background-color: #7f401d;
}

.content-view {
  background-color: #e4ebee;
  border-style: solid;
  border-width: 1px;
  border-color: #dee1e4;
  border-radius: 5px;
  background-color: rgba(217, 229, 234, 0.6);
  margin-bottom: 22px;
}

.content-view_left {
  float: left;
  margin-left: 21px;
  padding-top: 15px;
  position: relative;
}

.view-span {
  float: left;
  padding-top: 15px;
  margin-right: 17px;
}

.content-view_right {
  float: right;
}

.content-view_right-items {
  float: right;
  margin: 0px;
  padding: 0;
  height: 50px;
}

.content-view_right-item {
  display: inline-block;
  height: 50px;
  width: 50px;
  padding: 0;
}

.content-view_right-items-wrapperimage_1 {
  background: url("../img/view-list-2.png") no-repeat;
  background-position: center;
  border-left: 2px solid #dee1e4;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.content-view_right-items-wrapperimage_1:hover {
  background: url("../img/view-list-2-hover.png") no-repeat;
  background-position: center;
}

.content-view_right-items-wrapperimage_2 {
  background: url("../img/view-list.png") no-repeat;
  background-position: center;
  border-left: 2px solid #dee1e4;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.content-view_right-items-wrapperimage_2:hover {
  background: url("../img/view-list-hover.png") no-repeat;
  background-position: center;
}

.content-view_right-items-wrapperimage_3 {
  background: url("../img/view-thumbnail.png") no-repeat;
  background-position: center;
  border-left: 2px solid #dee1e4;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.content-view_right-items-wrapperimage_3:hover {
  background: url("../img/view-thumbnail-hover.png") no-repeat;
  background-position: center;
}

.wrapper-menu-map_href {
  cursor: pointer;
}

.content-items {
  margin-bottom: 45px;
}

.device-items {
  margin: 0;
  padding: 0;
}

.device-items-item {
  border-style: solid;
  border-width: 1px;
  border-color: #dee1e4;
  background-color: rgba(255, 255, 255, 0.6);
  width: 237px;
  display: inline-block;
  border-radius: 5px;
  padding-top: 19px;
  padding-bottom: 19px;
  margin-bottom: 20px;
  margin-right: 11px;
  box-sizing: border-box;
}
.device-items-item:nth-child(3n) {
  margin-right: 0;
}
.device-items-item:hover {
  box-shadow: 0px 0px 4px 1px #dee1e4;
}

.device {
  width: 210px;
  margin: 0 auto;
}

.device-image {
  width: 137px;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 18px;
}

.device-image-item {
  display: inline-block;
  border-width: 1px;
  border-color: #dee1e4;
  border-style: solid;
  border-radius: 2px;
  background-color: white;
  overflow: hidden;
  width: 32px;
  height: 32px;
  margin-right: 16px;
  box-sizing: border-box;
  cursor: pointer;
}
.device-image-item:first-child {
  margin-left: 0;
  cursor: default;
}
.device-image-item:first-child:hover {
  border-color: #dee1e4;
}
.device-image-item:last-child {
  margin-right: 0;
}
.device-image-item:hover {
  border-color: #ff6600;
}

.device-image-item_main {
  width: 100%;
  height: 134px;
  background: url("../img/device-1.png") no-repeat center center;
  margin-bottom: 15px;
}

.device-image-item_1 {
  background: url("../img/device-1.png") no-repeat center center;
  background-size: 65%;
}

.device-image-item_2 {
  background: url("../img/device-2.png") no-repeat center center;
}

.device-image-item_3 {
  background: url("../img/device-3.png") no-repeat center center;
}

.device-characters {
  padding: 0;
  margin-bottom: 8px;
}

.device-characters-item {
  list-style: none;
}
.device-characters-item:first-child {
  text-align: center;
  margin-bottom: 6px;
  height: 36px;
}
.device-characters-item:nth-child(even) {
  background-color: #e6e6e6;
}

.device-characters-item-text_left {
  float: left;
}

.device-characters-item-text_right {
  float: right;
}

.device-rating-wrapper {
  width: 137px;
  margin: 0 auto;
  margin-bottom: 14px;
}

.device-rating {
  padding: 0;
  float: left;
}

.rating-star {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("../img/star.png") no-repeat center center;
}
.rating-star_off {
  width: 16px;
  height: 16px;
  background: url("../img/star-off.png") no-repeat center 0.3px;
}

.device-rating_number {
  float: right;
  border-radius: 7px;
  background-color: #b5beca;
  width: 28px;
  height: 15px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 2px;
  font-size: 12px;
}

.device-price {
  text-align: center;
  margin-bottom: 9px;
}

.device-cart-status {
  float: left;
  color: #7f7f7f;
  padding-left: 14px;
  margin-top: 6px;
}
.device-cart-status:before {
  display: block;
  float: left;
  border-radius: 50%;
  background-color: #60ac49;
  width: 7px;
  height: 7px;
  margin-top: 5px;
  margin-left: -12px;
}

.device-cart-push {
  float: right;
  width: 103px;
  height: 33px;
  outline-style: none;
  border: 0;
  border-radius: 5px;
  background-image: -moz-linear-gradient(56deg, #ff6600 0%, #ff6a1b 45%, #ff6e35 99%);
  background-image: -webkit-linear-gradient(56deg, #ff6600 0%, #ff6a1b 45%, #ff6e35 99%);
  background-image: -ms-linear-gradient(56deg, #ff6600 0%, #ff6a1b 45%, #ff6e35 99%);
  color: white;
  font-size: 14px;
}
.device-cart-push:hover {
  box-shadow: 0px 0px 5px 1px #cc5200 inset;
}
.device-cart-push:active {
  box-shadow: 0px 0px 5px 2px #cc5200 inset;
}

.list-pages {
  float: right;
}

.list-pages-items {
  padding: 0;
  margin: 0;
}

.list-pages-items-item {
  cursor: pointer;
  display: inline-block;
  border-width: 1px;
  border-color: #dee1e4;
  border-style: solid;
  border-radius: 3px;
  background-color: white;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), inset 0px 1px 0px 1px rgba(255, 255, 255, 0.004);
  width: 24px;
  height: 23px;
  text-align: center;
  padding-top: 3px;
}
.list-pages-items-item:first-child {
  background: url("../img/arrow-left.png") no-repeat center center;
  background-color: #FFFFFF;
  margin-bottom: -10px;
}
.list-pages-items-item:last-child {
  background: url("../img/arrow-right.png") no-repeat center center;
  background-color: #FFFFFF;
  margin-bottom: -10px;
}
.list-pages-items-item:hover {
  background-color: #e0e0e0;
}

.page2-items-item {
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.6);
  width: 100%;
  padding: 0;
  display: block;
  border-bottom: 1px solid #dee1e4;
}
.page2-items-item:first-child {
  border-radius: 5px 5px 0 0;
}
.page2-items-item:last-child {
  border: 0;
  border-radius: 0 0 5px 5px;
}
.page2-items-item:hover {
  box-shadow: 0px 0px 4px 3px #dee1e4;
}

.page2-items {
  padding: 0;
  margin: 0;
  border: 1px solid #dee1e4;
  border-radius: 5px;
}

.pages2-items-item {
  display: inline-block;
  margin-bottom: 20px;
  vertical-align: top;
}
.pages2-items-item:first-child {
  width: 137px;
}

.page2-imgs {
  padding: 0;
  margin-bottom: 14px;
}

.page2-imgs-img {
  display: inline-block;
  border-width: 1px;
  border-color: #dee1e4;
  border-style: solid;
  border-radius: 2px;
  background-color: white;
  overflow: hidden;
  width: 32px;
  height: 32px;
  margin-right: 16px;
  box-sizing: border-box;
  cursor: pointer;
}
.page2-imgs-img:first-child {
  margin-left: 0;
  cursor: default;
}
.page2-imgs-img:first-child:hover {
  border-color: #dee1e4;
}
.page2-imgs-img:last-child {
  margin-right: 0;
}
.page2-imgs-img:hover {
  border-color: #ff6600;
}

.page2-imgs-img_main {
  width: 100%;
  height: 134px;
  background: url("../img/device-1.png") no-repeat center center;
  margin-bottom: 15px;
}

.page2-items-coloms {
  padding: 0;
  padding-top: 19px;
}

.pages2-items-item_leftcol {
  padding-left: 22px;
  margin-right: 25px;
}

.pages2-items-item_centralcol {
  width: 372px;
  margin-right: 30px;
}

.page2-article {
  margin-left: 10px;
}

.page2-device-rating-wrapper {
  width: 137px;
}

.page2-device-rating {
  padding: 0;
  float: left;
}

.page2-rating-star {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("../img/star.png") no-repeat center center;
}
.page2-rating-star_off {
  width: 16px;
  height: 16px;
  background: url("../img/star-off.png") no-repeat center 0.3px;
}

.page2-device-rating_number {
  float: right;
  border-radius: 7px;
  background-color: #b5beca;
  width: 28px;
  height: 15px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 2px;
  font-size: 12px;
}

.page2-name {
  margin-bottom: 30px;
}

.page2-characters {
  margin-bottom: 22px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: -o-ellipsis-lastline;
}

.pages2-items-item_rightcol {
  position: relative;
  text-align: right;
  padding-top: 5px;
  padding-left: 24px;
  border-left: 1px solid #dee1e4;
}

.page2-price {
  margin-bottom: 122px;
}

.page2-button {
  border-radius: 5px;
  background-image: -moz-linear-gradient(56deg, #ff6600 0%, #ff6a1b 45%, #ff6e35 99%);
  background-image: -webkit-linear-gradient(56deg, #ff6600 0%, #ff6a1b 45%, #ff6e35 99%);
  background-image: -ms-linear-gradient(56deg, #ff6600 0%, #ff6a1b 45%, #ff6e35 99%);
  width: 103px;
  height: 33px;
  border: 0;
  outline-style: none;
  color: #FFFFFF;
  margin-bottom: 19px;
}
.page2-button:hover {
  box-shadow: 0px 0px 5px 1px #cc5200 inset;
}
.page2-button:active {
  box-shadow: 0px 0px 5px 2px #cc5200 inset;
}

.page2-status:before {
  display: block;
  border-radius: 50%;
  background-color: #60ac49;
  width: 7px;
  height: 7px;
  margin-top: 5px;
  margin-left: -12px;
}

.page1-items {
  margin: 0;
  padding: 0;
  border: 1px solid #dee1e4;
  border-radius: 5px;
  background-color: #fafafa;
}

.page1-items-item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
}
.page1-items-item:last-child {
  margin-right: 0;
}

.page1-items-item_characters {
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.page1-list-item {
  width: 718px;
  padding: 0;
  margin: 0 auto;
}

.page1-list {
  display: block;
  border-bottom: 1px solid #dee1e4;
  padding-top: 10px;
  padding-bottom: 10px;
}
.page1-list:last-child {
  border: 0;
}
.page1-list:hover {
  box-shadow: 0px 0px 4px 3px #dee1e4;
}

.page1-items-item-button {
  border-radius: 5px;
  background-image: -moz-linear-gradient(56deg, #ff6600 0%, #ff6a1b 45%, #ff6e35 99%);
  background-image: -webkit-linear-gradient(56deg, #ff6600 0%, #ff6a1b 45%, #ff6e35 99%);
  background-image: -ms-linear-gradient(56deg, #ff6600 0%, #ff6a1b 45%, #ff6e35 99%);
  width: 103px;
  height: 33px;
  color: #FFFFFF;
  outline-style: none;
  border: none;
}
.page1-items-item-button:hover {
  box-shadow: 0px 0px 5px 1px #cc5200 inset;
}
.page1-items-item-button:active {
  box-shadow: 0px 0px 5px 2px #cc5200 inset;
}

.page1-items-item_status {
  position: relative;
}
.page1-items-item_status:before {
  position: absolute;
  content: '';
  display: block;
  float: left;
  border-radius: 50%;
  background-color: #60ac49;
  width: 7px;
  height: 7px;
  top: 5px;
  left: -10px;
}

.page1-items-item_characters {
  margin-right: -10px;
}

.page1-items-item_articul {
  margin-right: 0px;
}

.information {
  width: 1100px;
  margin: 0 auto;
  margin-bottom: 31px;
}

.information-main {
  margin-bottom: 33px;
}

.information-column {
  text-align: justify;
}

.footer {
  width: 100%;
  height: 220px;
  background: url("../img/pattern-footer.png");
  margin-top: -220px;
  min-width: 1100px;
}

.footer-wrapper {
  width: 1100px;
  margin: 0 auto;
  padding-top: 35px;
}

.footer-logowrapper {
  width: 240px;
  height: 37px;
  overflow: hidden;
  float: left;
  margin-top: 40px;
}

.footer-rightwrapper {
  float: right;
  width: 557px;
  text-align: right;
}

.navigation-footer-items {
  padding: 0;
  margin: 0;
}

.navigation-footer-items-item {
  display: inline-block;
  margin-right: 13px;
  margin-bottom: 24px;
  cursor: pointer;
}
.navigation-footer-items-item a {
  color: #FFFFFF;
}

.social-items_footer {
  margin-right: 26px;
  height: 43px;
  width: 44px;
  overflow: hidden;
}

.social-items_footer_fb:hover .social-ico-footer_fb {
  display: none;
}

.social-items_footer_vk:hover .social-ico-footer_vk {
  display: none;
}

.social-items_footer_tw:hover .social-ico-footer_tw {
  display: none;
}

.social_footer {
  margin-bottom: 33px;
}

.footer-allright {
  float: left;
  margin-left: 438px;
  margin-top: -5px;
  color: #FFFFFF;
}

.navigation-footer-items-link {
  cursor: pointer;
}

.social-ico-footer_tw:hover {
  display: none;
}
